/* Custom CSS rules */

.banner-content h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1em;
}

.banner-content h2 span,
.banner-content h2.text-white a {
    color: #49e4fa;
}

.post-list .cat-list li {
    width: auto !important;
}

.single-post .thumb {
    padding-right: 5px;
}

.single-post .details {
    padding-left: 5px;
}