{# features #}
<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Visibilite</h4>
                    <p>
                        Deposer votre CV pour vous faire connaitre et obtenir plusieurs offres
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Recherche</h4>
                    <p>
                        Rechercher parmis plus de <span>1500</span> candidats.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Flexibilite</h4>
                    <p>
                        Votre CV disponible a tout moment et partout dans le monde.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature">
                    <h4>Notifications</h4>
                    <p>
                        Soyez notifier a chaque nouvelle mise a jour.
                    </p>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End features Area -->