<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ asset('img/fav.png') }}">
    <meta name="author" content="codepixer">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta charset="UTF-8">
    <title>{% block title %}Curriculum Vitae{% endblock %}</title>

    {% block stylesheets %}
        {% include "index/stylesheets.html.twig" %}
    {% endblock %}
</head>
<body>
    {% block header %}
        {% include "index/header.html.twig" %}
    {% endblock %}

	{% block search_banner %}
        {% include "index/search-banner.html.twig" %}
    {% endblock %}

	{% block featured %}
        {% include "index/featured.html.twig" %}
    {% endblock %}
			
	{% block popular %}
        {% include "index/popular.html.twig" %}
    {% endblock %}
			
	{% block features_categories %}
        {% include "index/featured-categories.html.twig" %}
    {% endblock %}
			
    {% block main_container %}
        <!-- Start post Area -->
        <section class="post-area section-gap">
            <div class="container">
                {% block content_container %}
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-8 post-list">
                            {% block content %}
                                {% include "index/content.html.twig" %}
                            {% endblock %}
                        </div>
                        <div class="col-lg-4 sidebar">
                            {% block sidebar %}
                                {% include "index/sidebar.html.twig" %}
                            {% endblock %}							
                        </div>
                    </div>
                {% endblock %}
            </div>	
        </section>
    {% endblock %}
	
    {% block call2action %}
        {% include "index/call2action.html.twig" %}
    {% endblock %}

	{% block download %}
        {% include "index/download.html.twig" %}
    {% endblock %}
		
    {% block footer %}
        {% include "index/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
        {% include "index/javascripts.html.twig" %}
    {% endblock %}
</body>
</html>
