{# search banner #}
<!-- start banner Area -->
<section class="banner-area relative" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    Trouver le <span>candidat</span> qu'il vous faut sur				
                </h1>	
                <form action="search.html" class="serach-form-area">
                    <div class="row justify-content-center form-wrap">
                        <div class="col-9 form-cols">
                            <input type="search" class="form-control" name="search" placeholder="Quel profil vous cherchez ?">
                        </div>
                        {# <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects">
                                <select>
                                    <option value="1">Select area</option>
                                    <option value="2">Dhaka</option>
                                    <option value="3">Rajshahi</option>
                                    <option value="4">Barishal</option>
                                    <option value="5">Noakhali</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects2">
                                <select>
                                    <option value="1">All Category</option>
                                    <option value="2">Medical</option>
                                    <option value="3">Technology</option>
                                    <option value="4">Goverment</option>
                                    <option value="5">Development</option>
                                </select>
                            </div>										
                        </div> #}		
                        <div class="col-lg-2 form-cols">
                            <button type="submit" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> Chercher
                            </button>
                        </div>
                        <div class="col-auto justify-content-center align-items-center d-flex">
                            <a href="#" class="text-white"title="Recherche avancee ...">
                                <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>					
                    </div>
                </form>
                <h2 class="text-white">
                    Vous etes a la recherche d'un <span>emploi</span> ? <br>
                    <span>Booster</span> votre carriere en cliquant <a href="#join" class="spaned anchor">ici</a>.				
                </h2>
                {# <p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p> #}
            </div>											
        </div>
    </div>
</section>
<!-- End banner Area -->	