{% extends 'base.html.twig' %}

{% block title %}Edit CompanyType{% endblock %}

{% block body %}
    <h1>Edit CompanyType</h1>

    {{ include('company_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_type_index') }}">back to list</a>

    {{ include('company_type/_delete_form.html.twig') }}
{% endblock %}
