{% extends 'base.html.twig' %}

{% block title %}Edit LanguageList{% endblock %}

{% block body %}
    <h1>Edit LanguageList</h1>

    {{ include('language_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('language_list_index') }}">back to list</a>

    {{ include('language_list/_delete_form.html.twig') }}
{% endblock %}
